
/********* OPŠTA PODEŠAVANJA *************/
* {
   margin: 0;
   padding: 0;
}

html, body {
	width:100%;
}

body {
	text-align:center;
	overflow-x:hidden;
}

p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:129%;
	line-height: 29px;
	margin:16px 0 40px;
}

canvas {
	display:block;
}


/********** KLASE *************/
.okvir-slike {
	display:inline-block;
}

.ravna-levo {
	text-align:right;
}

.puna-sirina {
	width:100%;
}